google-assistant-cegeka/ga-proxy-server/client_credentials.json
google-assistant-cegeka/docker/.data/qa_proxy_server/google-oauthlib-tool/credentials.json
google-assistant-cegeka/docker/.data/qa_proxy_server/google-oauthlib-tool/credentials.json
